<manifest package="com.soulkey.android.weather"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".WTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustNothing">

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="34e03c4c035883a363ae42650e57cca6d0225d1a" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2xp490Zd41r3whzYx7TDebAU-hT5H-Jg"/>

        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HistoryActivity"/>

    </application>

</manifest>
